services:
  tmdb-analytics:
    build: .
    container_name: tmdb-analytics

    env_file:
      - .env
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/tmp/keys/application_default_credentials.json

    volumes:
      - ./data:/app/data
      - ./dbt:/app/dbt
      - ./tmdb_ingestion:/app/tmdb_ingestion
      - ~/.config/gcloud/application_default_credentials.json:/tmp/keys/application_default_credentials.json:ro

    ports:
      - "8080:8080"

    stdin_open: true
    tty: true
