services:
  tmdb-analytics:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: tmdb-analytics

    env_file:
      - .env

    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/tmp/keys/application_default_credentials.json
      - DBT_PROFILES_DIR=/home/appuser/.dbt

    volumes:
      - .:/app
      - ~/.dbt:/home/appuser/.dbt
      - ~/.config/gcloud/application_default_credentials.json:/tmp/keys/application_default_credentials.json:ro

    stdin_open: true
    tty: true
