movie_data_analysis:
  target: dev
  outputs:
    dev:
      type: postgres
      host: localhost
      user: [your_username]
      password: [your_password]
      port: 5432
      dbname: [your_database_name]
      schema: [your_schema_name]