# --- Core: Database & Transformation ---
dbt-duckdb>=1.8.0    # Replaces dbt-postgres & psycopg2
duckdb>=1.0.0        # The embedded OLAP database
pyarrow>=14.0.0      # CRITICAL: Enables writing/reading Parquet files

# --- Ingestion & Data ---
pandas>=2.0.0        # Dataframes
aiohttp              # Async API requests (for your ingestion script)
tenacity             # Retry logic (for your ingestion script)
python-dotenv        # To load your TMDB_API_KEY from .env
aiolimiter

# --- Dev & Exploration ---
jupyterlab           # For your notebooks/ folder
streamlit            # For your frontend dashboard

# --- Utils ---
tqdm
python-dotenv